*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    background-color: aqua;

}


.game-logo{
    background-color: white;
    padding: 50px;
    display: flex;
    justify-content: space-between;
}
.logoText{
    display: flex;
    align-items: center;
    
}

.logoImm{
    width: 80px;

}
.button-container{
  width: 80px; 
  display: flex; 
  align-items: center;
  justify-content: center;
}
.playGame{
    width: 100%;
    padding: 10px;
    border-radius: 10px;
}
.container{
    max-width: 800px;
    margin:0 auto ;
}

.grid-container{
    padding: 50px;
    
    
}
.grid{
    display: grid;
    grid-template-columns: repeat(10 , 1fr);
    
}
.grid-item{
    aspect-ratio: 1 / 1;
    border: solid white 3px;
    /* padding: 20px; */

    
    
}